@import '@fontsource/fira-mono';

:global(:root) {
	--background-primary: var(--color-slate-50);
	--background-secondary: var(--color-slate-200);
	--text-primary: var(--color-slate-100);
	--text-primary-dark: var(--color-slate-800);
	--text-secondary: var(--color-slate-700);
	--border: #bbbbbb;
	--accent: #777777;
	--background-special: #4c4c4c;
	--click-dark: var(--color-slate-900);
	--input-dark: var(--color-slate-800);
	--link-dark: var(--color-slate-700);
	--click: var(--color-slate-600);
	--input: var(--color-slate-400);
	--link: var(--color-slate-500);
	--active-foreground: var(--color-gray-100);
	--active: var(--color-gray-500);
	--hover: var(--color-slate-300);
	--hover-foreground: var(--color-slate-600);
	--shd: var(--color-slate-50/60);
	--shd-dark: var(--color-slate-950/20);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	/*background-color: var(--color-bg-1);*/
	background-size: 100vw 100vh;
	/*background-image:*/
	/*	radial-gradient(50% 50% at 50% 50%, rgba(30, 30, 30, 0.75) 0%, rgba(30, 30, 30, 0) 100%),*/
	/*	linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);*/
	background-color: #121212;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}